/* media query css start*/
@media only screen and (max-width: 700px) {
  .main-content .col {
    flex-basis: 100%;
  }
  .list .col {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 701px) {
  .main-content > div:first-child {
    flex: 0.25;
  }
  .list .col {
    flex-basis: 50%;
    flex-grow: 0;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  .main-content > div:first-child {
    flex: 0.25;
  }
  .list .col {
    flex-basis: 25%;
    flex-grow: 0;
  }
}

@media only screen and (min-width: 1441px) {
  .main-content {
    max-width: 1440px;
    margin: 0 auto;
  }
  .main-content > div:first-child {
    flex: 0.25;
  }
  .list .col {
    flex-basis: 25%;
    flex-grow: 0;
  }
}
/* media query css end*/

.container-fluid {
  background: rgb(240, 238, 236);
}
.filter {
  background: #fff;
  border-radius: 7px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list .col {
  margin-bottom: 20px;
}

.list .card {
  background: #fff;
  border-radius: 7px;
  height: 100%;
}

.card img {
  min-height: 208.63px;
  background: rgb(240, 238, 236);
}

.card-title {
  color: rgb(99, 89, 241);
}
.card-body {
  padding: 0.98rem;
}

.filter .btn-green {
  width: 100%;
  margin-bottom: 10px;
  background: rgb(197, 241, 191);
  color: #000;
}

.filter .btn-green:hover,
.filter .btn-green.active {
  background: rgb(102, 202, 89);
}

.filter .hr-ruler {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1px;
  margin-bottom: 10px;
  height: 2px;
  background: rgb(240, 238, 236);
}

.spinner-grow {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
}
